<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../../libs/mindar/mindar-face-three.prod.js"></script>
    <script src="../Scripts/main.js" type="module"></script>
	<link rel="stylesheet" href="../Styles/styles.css">
  </head>
  <body>
    <div id="selections">
    </div>

    <button id="capture"></button>

    <div id="preview">
      <div id="preview-close">X</div>
      <img id="preview-image"/>
      <div id="preview-share">Share</div>
    </div>
  </body>
</html>
