<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../../libs/mindar/mindar-face-three.prod.js"></script>
    <script src="../Scripts/main.js" type="module"></script>
	<link rel="stylesheet" href="../Styles/styles.css">
  </head>
  <body>
    <div id="selections">
      <img id="hat1" src="../../../assets/models/CouboyHat/thumbnail.png"/>
      <img id="hat2" src="../../../assets/models/PixelSantaHat/thumbnail.png"/>
      <img id="hat3" src="../../../assets/models/SailorHat/thumbnail.png"/>
      <img id="glasses1" src="../../../assets/models/glasses1/thumbnail.png"/>
      <img id="glasses2" src="../../../assets/models/glasses2/thumbnail.png"/>
      <img id="glasses3" src="../../../assets/models/glasses2/thumbnail.png"/>
      <img id="glasses4" src="../../../assets/models/glasses2/thumbnail.png"/>
      <img id="glasses5" src="../../../assets/models/glasses2/thumbnail.png"/>
      <img id="earring" src="../../../assets/models/earring/thumbnail.png"/>
    </div>

    <button id="capture"></button>

    <div id="preview">
      <div id="preview-close">X</div>
      <img id="preview-image"/>
      <div id="preview-share">Share</div>
    </div>
  </body>
</html>
